@import url('https://fonts.googleapis.com/css?family=Lato|Six+Caps&display=swap');

/* To Do: Allow image to take up whole top section */


:root {
  --mainColor: whitesmoke;
  --transition: all 0.3 ease 0s;
  --accent: rgb(8, 52, 110);
  --accentHover: rgb(66, 132, 219);
  --navHover: rgb(185, 184, 184);
  --article: rgb(228, 228, 228);
  --articleHover: rgb(149, 162, 175);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background-color: var(--mainColor);
}

a, button {
  font-family: "Lato", sans-serif;
  color: black;
  text-decoration: none;
}

a, button, .header-h1 {
  cursor: pointer;
}

.app-main, .categories-main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 80px)) 1fr;
  grid-gap: 2.5em;
}

.header {
  grid-column: 2 / span 12;
}

.home {
  background-color: var(--accent);
  grid-column: 2 / span 12;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.home-link {
  color: var(--mainColor);
  display: inline-flex;
  font-family: "Six Caps";
  font-size: 3.0625rem;
  transition: var(--transition);
}

.home .home-link:hover {
  color: var(--navHover);
}

.Nav {
  background-color: var(--accent);
  grid-column: 2 / span 12;
  align-items: center;
  height: 60px;
  padding-top: 10px;
}

.nav-main {
  margin: 0;
}

.nav-li {
  display: inline-flex;
  padding-right: 20px;
  font-size: 1.3625rem;
  font-weight: 400;
  transition: var(--transition);
}

.nav-li:first-child {
  padding-left: 20px;
}

.nav-wrapper {
  text-align: center;
}

.nav-li .Nav__link {
  color: var(--mainColor);
}

.nav-li .Nav__link:hover {
  color: var(--navHover);
}

.link-container {
  grid-template-columns: repeat(12, minmax(auto, 80px));
  grid-gap: 2.5em;
  background-color: var(--article);
  padding: 20px 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: var(--accent);
  transition: all 0.35s ease-in-out;
}

.categories-main a:nth-child(odd) {
  grid-column: 2 / span 8
}
.categories-main a:nth-child(even) {
  grid-column: 10 / span 4;
}

.app-main a:nth-child(even) {
  grid-column: 2 / span 8; 
}
.app-main a:nth-child(odd) {
  grid-column: 10 / span 4;
}

.link-container:hover {
  background-color: var(--articleHover);
  border-color: var(--articleHover);
}

.link-container:hover .item-title {
  color: var(--accent);
}

.trending-header, .categories-h1 {
  padding-bottom: 15px;
  padding-top: 5px;
  grid-column: 2 / span 12;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3.375rem;
  text-transform: capitalize;
}

h3 {
  display: flex;
  align-items: center;
}

.item-title {
  display: flex;
  padding-right: 30px;
  padding-bottom: 10px;
  font-size: 24px;
}

.item-description, .article-description {
  display: flex;
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 18px;
}


.item-container, .article-container {
  display: inline-block;
  align-items: center;

}

img {
  display: flex;
  padding-bottom: 10px;
  width: 95%;
}

.footer {
  grid-column: 2 / span 12;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--accent);
  align-items: center;
}

.footer-main {
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 0.7625rem;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .app-main, .categories-main {
    grid-template-columns: 0.625em repeat(6, 1fr) 0.625em;
    grid-gap: 0.625em;
  }
  .link-container {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.625em;
  }
  .categories-main a:nth-child(odd) {
    grid-column: 2 / span 6;
  }
  .categories-main a:nth-child(even) {
    grid-column: 2 / span 6;
  }
  
  .app-main a:nth-child(even) {
    grid-column: 2 / span 6;
  }
  .app-main a:nth-child(odd) {
    grid-column: 2 / span 6;
  }
  .Nav {
    grid-column: 2 / span 6;
  }
  .home {
    grid-column: 2 / span 6;
  }
  .header {
    grid-column: 2 / span 6;
  }
  .footer {
    grid-column: 2 / span 6;
  }
  .trending-header, .categories-h1 {
    grid-column: 2 / span 6;
  }
}